.link-text {
	color: #d1d1d1;
	
}
.link-text:hover {
	color: #ffffff;
}

.half-spacer {
	height: 50px;
}

.spacer {
	height: 100px;
}

#thumbnail {
	object-fit: contain;
	max-width: 180px;
	width: 110%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rel {
	position: relative;
}

.no-underline {
	text-decoration: none;
}

.title {
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
	animation: up 1s ease-out 1;
}

.subtitle {
	color: #d1d1d1;
	font-style: italic;
}

.subtitle-dark {
	color: #949494 !important;
	font-style: italic;
}

.nerf-p {
	margin: 0px;
	margin-bottom: 2%;
}

@keyframes up {
	0% { transform: translateY(-50px); }
	100% { transform: translateY(0px); }
}